
.hyva-admin-grid {
    input, select {
        @apply tw-text-base;
        @apply tw-border-container-darker;

        @apply tw-bg-white;
        @apply tw-border;
        @apply hover:tw-bg-container-lighter;
        @apply tw-items-center;
        @apply tw-py-2;

        @apply tw-rounded-md;
        @apply tw-text-primary-lighter;
    }

    [type="checkbox"] {
        @apply tw-box-border;
        @apply tw-p-0;
        @apply tw-w-6;
        @apply tw-h-6;
    }

    .form-checkbox:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
        border-color: transparent;
        background-color: currentColor;
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

    .form-select {
        @apply tw-cursor-pointer;
    }
}
