
.table-head th, .table-filters th{
    @apply tw-sticky;
    @apply tw-top-0;
    @apply tw-border;
    @apply tw-border-container-darker;
    @apply tw-px-6;
    @apply tw-py-2;
    @apply tw-font-semibold;
    @apply tw-tracking-wider;
    /*@apply uppercase;*/
    @apply tw-text-base;
    @apply tw-align-middle;

    &.sortable {
        @apply tw-cursor-pointer;
        @apply tw-pr-12;
    }
}
.table-head th {
    @apply tw-bg-container-header;
    @apply hover:tw-bg-container-hover;
    @apply tw-text-white;
}
.table-filters th{
    @apply tw-bg-container-darker;
    @apply tw-text-primary;
}

.table-content td {
    @apply tw-border tw-border-container tw-px-3 tw-align-middle tw-whitespace-nowrap;
}

.table-filters th {
    @apply tw-bg-container tw-border-container tw-whitespace-nowrap;

    input {
        @apply tw-bg-auto tw-bg-container-lighter tw-block tw-border-transparent focus:tw-bg-white focus:tw-border-gray-500 tw-mt-1 tw-rounded-md tw-w-full
    }
}
