.btn {
    @apply tw-flex tw-bg-gray-500 tw-px-4 tw-py-2 tw-text-white tw-font-semibold tw-items-center;

    svg {
        @apply tw-inline-flex;
    }
    span {
        vertical-align: middle;
    }

    &:hover {
        @apply tw-bg-gray-600;
    }

    &-primary {
        @apply tw-bg-primary tw-border tw-border-primary-darker tw-text-primary;

        &:hover {
            @apply tw-bg-primary-darker tw-border tw-border-primary-darker tw-text-primary tw-shadow-sm tw-no-underline;
        }
    }

    &-secondary {
        @apply tw-bg-white tw-border-2 tw-border-primary-lighter tw-text-black;

        &:hover {
            @apply tw-bg-white tw-border-primary-darker tw-shadow-sm;
        }
    }
}
