/* @import "tailwindcss/base"; - Wyłączamy base, aby nie psuć stylów Magento */

.hyva-admin-grid input, .hyva-admin-grid select {
    font-size: 1em;
    line-height: 1.5em;
    --tw-border-opacity: 1;
    border-color: rgba(212, 212, 216, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    border-width: 1px;
  }

.hyva-admin-grid input:hover, .hyva-admin-grid select:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

.hyva-admin-grid input, .hyva-admin-grid select {
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.375rem;
    --tw-text-opacity: 1;
    color: rgba(63, 63, 70, var(--tw-text-opacity));
  }

.hyva-admin-grid [type="checkbox"] {
    box-sizing: border-box;
    padding: 0px;
    width: 1.5rem;
    height: 1.5rem;
  }

.hyva-admin-grid .form-checkbox:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    border-color: transparent;
    background-color: currentColor;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

.hyva-admin-grid .form-select {
    cursor: pointer;
  }

.text-sans-serif {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.hyva-admin-grid {
  font-size: 14px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0em;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.menu-wrapper .logo .logo-img { display: inline;
}

[x-cloak] {
  display: none;
}

img { max-width: none; display: inline-block;
}

.table-head th, .table-filters th{
  position: sticky;
  top: 0px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(212, 212, 216, var(--tw-border-opacity));
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  /*@apply uppercase;*/
  font-size: 1em;
  line-height: 1.5em;
  vertical-align: middle;
}

.table-head th.sortable, .table-filters th.sortable {
    cursor: pointer;
    padding-right: 3rem;
  }

.table-head th {
  --tw-bg-opacity: 1;
  background-color: rgba(81, 73, 67, var(--tw-bg-opacity));
}

.table-head th:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(95, 86, 79, var(--tw-bg-opacity));
}

.table-head th {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.table-filters th{
  --tw-bg-opacity: 1;
  background-color: rgba(228, 228, 231, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(81, 73, 67, var(--tw-text-opacity));
}

.table-content td {
  white-space: nowrap;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: middle;
}

.table-filters th {
  white-space: nowrap;
  --tw-border-opacity: 1;
  border-color: rgba(228, 228, 231, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(244, 244, 245, var(--tw-bg-opacity));
}

.table-filters th input {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    border-radius: 0.375rem
  }

.table-filters th input:focus {
    --tw-border-opacity: 1;
    border-color: rgba(113, 113, 122, var(--tw-border-opacity));
  }

.table-filters th input {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

.table-filters th input:focus {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  }

.table-filters th input {
    background-size: auto;
  }

.btn {
  display: flex;
  align-items: center;
  --tw-bg-opacity: 1;
  background-color: rgba(113, 113, 122, var(--tw-bg-opacity));
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.btn svg {
    display: inline-flex;
  }

.btn span {
    vertical-align: middle;
  }

.btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(82, 82, 91, var(--tw-bg-opacity));
  }

.btn-primary {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(95, 86, 79, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(245, 245, 245, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(81, 73, 67, var(--tw-text-opacity));
  }

.btn-primary:hover {
      border-width: 1px;
      --tw-border-opacity: 1;
      border-color: rgba(95, 86, 79, var(--tw-border-opacity));
      --tw-bg-opacity: 1;
      background-color: rgba(219, 219, 219, var(--tw-bg-opacity));
      --tw-text-opacity: 1;
      color: rgba(81, 73, 67, var(--tw-text-opacity));
      text-decoration: none;
      --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

.btn-secondary {
    border-width: 2px;
    --tw-border-opacity: 1;
    border-color: rgba(212, 212, 216, var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
  }

.btn-secondary:hover {
      --tw-border-opacity: 1;
      border-color: rgba(95, 86, 79, var(--tw-border-opacity));
      --tw-bg-opacity: 1;
      background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
      --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

@keyframes tw-spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes tw-ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes tw-pulse {
  50% {
    opacity: .5;
  }
}

@keyframes tw-bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }

  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

*, ::before, ::after {
  --tw-shadow: 0 0 #0000;
}

*, ::before, ::after {
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}
