@import "tailwindcss";

/* Scan files for classes */
@source "../../**/*.phtml";
@source "../../../../../../code/GardenLawn/**/*.phtml";
@source "../../../../../../vendor/hyva-themes/module-magento2-admin/view/adminhtml/templates/**/*.phtml";

@theme {
    --color-primary: #eb5202;
    --color-primary-dark: #d44902;

    /* Admin specific colors */
    --color-admin-bg: #f5f5f5;
    --color-admin-border: #d1d1d1;
}

/* Custom Admin Styles */
@layer components {
    /* Admin Logo Fix */
    .logo {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        height: 100% !important;
    }
    .logo-img {
        display: block !important;
        margin: 0 auto !important;
    }
}

/* Admin Fixes (Restore Magento styles broken by Preflight) */
@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-size: revert;
        font-weight: revert;
        margin: revert;
    }
    ul, ol {
        list-style: revert;
        margin: revert;
        padding: revert;
    }
    a {
        color: revert;
        text-decoration: revert;
    }
    button, input, optgroup, select, textarea {
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
    }
}
