/* purgecss start ignore */
/* @import "tailwindcss/base"; - Wyłączamy base, aby nie psuć stylów Magento */
@import "tailwindcss/components";

@import url('components/forms.css');
@import url('components/general.css');
@import url('components/tables.css');
@import url('components/theming.css');

/* purgecss end ignore */

@import "tailwindcss/utilities";
